Library/
Temp/
Logs/
UserSettings/

.vs/
.idea/
.vscode/

obj/
bin/

Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
*.csproj
*.sln
*.userprefs

*.exe
*.dll
*.pdb

!Assets/
!ProjectSettings/
!Packages/
!Packages.manifest
!*.meta
